# Improve CampusX

## Instructions

1. You have to submit your solutions before **6:00pm tomorrow**
2. The problems that I have given(**except the 1st one**) are problems with which we are also dealing with. So, in a way we are asking for your help through this hackathon.
3. To be honest solving even a single question is a big deal in the given time duration. So, please don't get **frustrated** if you are not able to solve even one problem. 
4. A request - **don't quit**. Infact **never quit**.
5. Marking Scheme for this hackathon is as follows
**Total Marks=200**
but, while adding this to your dashboard, your total marks will be divided by a **factor of 10**.
So, let's say you scored 90 in the hackathon, you dashboard score would be 9
6. Top 3 performers will get a **prize**, when we will meet next.Promise:)

**Problem 1** : Write a python function which will receive 3 input i.e. batch name, start date and end date and returns the leaderboard(in that date window) of that particular batch with the following pieces of info - Name, Marks(till now)

Note: If no date range is provided, show the leaderboard for the entire duration of the course

**Marks -10**

In [95]:
batch = pd.read_csv("batch.csv")
users = pd.read_csv("users.csv")

batchTask = pd.read_csv("batch_task.csv")

course = pd.read_csv("course.csv")
content = pd.read_csv("content.csv")

tasks = pd.read_csv("tasks.csv")
module = pd.read_csv("module.csv")

evaluation = pd.read_csv("evaluation.csv")
gyan = pd.read_csv("gyan.csv")
myday = pd.read_csv("myday.csv")

linkPreviewDetails = pd.read_csv("link_preview_details.csv")
urlTask = pd.read_csv("url_task.csv")

In [44]:

a=batch.merge(users,left_on='batch_id',right_on='batch_id')
b=a.merge(evaluation,left_on='user_id',right_on='user_id')

def func(batchname,startdate):

    batch_name_is=b[b['batch_name']==batchname]
    start_date=batch_name_is[batch_name_is['batch_start_date']==startdate]

    x=start_date.groupby(['fname','lname'])[['fname','lname','score']].sum()
    leaderboard=x.sort_values(by='score',ascending=False)
    print(leaderboard)
func('Machine Learning Kolkata 2','2020-01-19')

                              score
fname         lname
Ritwik        Ghosh           154.5
Ritayan       Dhara           152.5
Ritik         Verma           152.0
Balaka        Biswas          150.0
Alekhyo       Banerjee        147.5
Priscila      Tamang Ghising  145.5
Srijani       Chaudhury       145.0
Rajtilak      Pal             144.0
Writuparna    Banerjee        144.0
Sankha Subhra Mondal          142.0
Suman         Das             141.5
Tuhin         Mukherjee       140.5
GAZAL         GARG            140.5
Sarthak       Kundu           140.0
SHUBHOBRATA   DAS             139.0
Sumantra      Pal             138.0
Satyaki       Saha            137.5
Madhuparna    Majumdar        136.0
Rima          Kar             135.5
Diganta       Das             134.5
Sanaa         Yousuf          134.0
Tathagata     Nath            121.0
Sagar         Sarkar          111.0
Wasif         Ekbal           108.5
Mushrequa     Nawaz           104.5
Rahul         Ghosh            86.0
RAHUL         SINGH            78.0
Rajrupa       Mitra            75.5
Rahul         Shaw             72.0
Banti         Pandey           71.5
Srinjoy       Chowdhury        69.5
Dilshad       Hussain          39.5
Soumyajyoti   Karmakar         39.5
Abhiraj       Gope              5.5
Om            Prakash Shaw      5.0

In [3]:
import numpy as np
import pandas as pd

In [16]:
# Write your code here

**Problem 2**: Write a python function that receives 1 input, batch_name and returns the list of top 10 students who require maximum attention from the teacher.

**Note**: I know this is kind of abstract, but truly we are facing this problem. Try to come up with a solution/algorithm. 

**Tip** : Don't just think in terms of marks, also think about things like late submissions, number of submissions, myday etc

**Tricky scenario**: Aisa bhi ho sakta hai koi student bas shuru me acha perform nai kar raha tha, but ab kar raha hai. So consider dates also.

**Marks : 50**

In [82]:
# Write your code here

#x=batch.merge(users,left_on='batch_id',right_on='batch_id')
#y=x.merge(evaluation,left_on='user_id',right_on='user_id')
#z=y.merge(my_day,left_on='user_id',right_on='user_id')
#z
#batch2=z[z['batch_name']=='Machine Learning Kolkata 2']
#batch2[['fname','lname','batch_id']]
#x=batch2.groupby(['fname','lname','batch_id'])['fname','lname','batch_id','score','winner','late'].sum().sort_values('score',ascending=False).head(10)
#x

BatchId = batch[batch['batch_name'] == "Machine Learning Kolkata 2"]
x=BatchId['batch_id'].values[0]

batchStudents = users.groupby('batch_id').get_group(x)
Evaluation = evaluation[evaluation['user_id'].isin(batchStudents['user_id'])]
top=Evaluation.merge(users,left_on='user_id',right_on='user_id')



top.groupby('user_id')['fname','lname','score','late','winner'].sum().sort_values('score', ascending = False).head(10)

         score  late  winner
user_id
75       154.5     1       5
90       152.5     1       7
76       152.0     0       4
78       150.0     0       5
87       147.5     1       2
104      145.5     4       2
96       145.0     1       3
93       144.0     3       4
77       144.0     2       4
101      142.0     2       1

In [63]:
# Write your code here
evaluation

     e_id  task_id  user_id evaluation_date  late  score  winner
0       1       16        9      2020-01-09     0   29.0       0
1       2        1       18      2020-01-09     0   32.0       0
2       3       16        6      2020-01-09     0   28.0       0
3       4       16       10      2020-01-09     0   32.0       0
4       5        1        5      2020-01-09     0   33.0       1
..    ...      ...      ...             ...   ...    ...     ...
431   434       29       70      2020-02-22     1    7.5       0
432   435       27      102      2020-02-22     1    8.0       0
433   436       27       85      2020-02-24     1    8.0       0
434   437       29       85      2020-02-24     1    9.5       0
435   438       29       79      2020-02-24     1    9.0       0

[436 rows x 7 columns]

**Problem 3**: Write a python function that will take batch name and a date range as input and outputs the most consistent student in that given daterange and batch

**Note**: Come up with your definition of consistency

**Marks - 20**

In [99]:
def func(batchname,startdate,enddate):
    
    BatchId = batch[batch['batch_name'] == batchname]
    x=BatchId['batch_id'].values[0]


    batch_Students = users.groupby('batch_id').get_group(x)
    Date_range= evaluation[(evaluation['user_id'].isin(batch_Students['user_id'])) &(evaluation['evaluation_date']>=startdate) &(evaluation['evaluation_date']<=enddate)]
    top=Date_range.groupby('user_id')['score','late','winner'].sum().sort_values('score', ascending = False).head(1)
    student_at_top=top.merge(users,left_on='user_id',right_on='user_id')
    
    print(student_at_top[['user_id','fname','lname','score','late']])
func("Machine Learning Kolkata 2","2020-01-23","2020-02-23")

   user_id   fname  lname  score  late
0       75  Ritwik  Ghosh  154.5     1

**Problem 4**: Find the best student across batches

**Marks - 20**

In [98]:
# Write your code here

batch_Id = batch['batch_id']
student_user = users.groupby('batch_id')['user_id']
student_batch_Task = batchTask.groupby('batch_id')

**Problem 5** : Write a function/piece of analysis that can compare the performance of 2 batches on the whole

**Note**: Again Abstract

**Note 2**: Will be judging you a lot on the basis of this.

**Note 3**: You can get an instant internship under us, if can apply the right thought process to this problem

**Marks - 50**

In [0]:
# Write your code here

**Problem 6** : Surprise us

**Description**: Find something(point/points of analysis) that might surprise us

**Marks - 50**